<!DOCTYPE html>
<html>
  <head>
    <meta charset="uft-8">
    <title>Projects</title>
  </head>
  <body>
    {{> header}}

    <p>{{screamIt 'Projects page'}}</p>

    {{> footer}}
  </body>
</html>
